/* style.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: #333;
  -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none; }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


section {
  width: 1440px;
  margin: 0 auto; 
  margin-top: 30px;
  margin-bottom: 30px;
}

header {
    width: 100%;
    height: 90px;
    position: relative;
    background: #292929;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
  margin-top: 10px;
}

#gnb {
  text-align: center;
}

#gnb > ul {
  display: flex;
}

#gnb > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: 40px;
}

#gnb > ul > li > a {
  display: block;
  width: 100%;
  color:  #fff;
}

.depth2.on {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #56bdf5c8;
}

.depth2 {
  display: none;
}

.depth2 li {
  width: 100%;
  padding: 10px;
}

.depth2 li:hover {
  background-color: snow;
}

.depth2 li:hover a {
  color: #56BDF5;
}

.depth2 li a {
  display: block;
  width: 100%;
  color: snow;
}

/* section */
#preview {
  background-image: url(./images/preview.jpg);
}


.section-bg {
    width: 100%;
    height: 720px;
    background: #666;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }

  
#w1 {
    background-image: url(./images/bg-w1.png);
  }

#wf {
    background-image: url(./images/bg-wf.png);
  }

#wa {
    background-image: url(./images/bg-wa.png);
  }

#w2 {
    background-image: url(./images/bg-w2.png);
  }
  
  /* footer */

footer {
  width: 100%;
  height: 50px;
  background:#292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 11px;
  }

footer p {
  color: #fff;
  padding-left: 30px;
}

footer div{
  position: absolute;
  right: 0;
  top: 40px;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 10px;
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

/* 겨울왕국 소개 */

.frozen-info-box {
  display: flex;
  justify-content: center;
}

.frozen-info-img {
  width: 700px;
  height: 545px;
  background-image: url(./images/frozen-info-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frozen-info-text {
  width: 600px;
  padding-left: 20px;
}

.frozen-info-box h1 {
  font-size: 21px;
  color: #333;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.frozen-info-box p {
  font-size: 13px;
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 1em;
}

/* 캐릭터 소개 */

.character-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-info-box h1 {
  font-size: 21px;
  margin-bottom: 1em;
}

.character-info-box h2 {
  font-size: 18px;
  padding-bottom: 0.4em;
}

.character-grid {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: 350px 350px;
}

.character-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.character-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
}

.character-info-text h3 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.character-info-text p {
  font-size: 14px;
  text-align: justify;
}

